mod:
  id: {{modId}}
  name: "{{modName}}"
  version: "{{modVersion}}"
  description: "{{modDescription}}"
  author: "{{author}}"
  license: "{{license}}"
{{{minecraftVersionsYaml}}}
{{{loadersYaml}}}
