# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results/
playwright-report/
tests/screenshots/
tests/playwright-report/
*.png-snapshots/

# Next.js
.next/
out/
build

# Production
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
